{% extends "base.html" %}

{% block content %}
<form method="POST" style="margin-top: 7.5rem;">
  <h2>Добавление пациента</h2>
  <div class="form-group">
    <label for="first-name">Фамилия</label>
    <input type="text" class="form-control" id="sur-name-input" name="sur-name" >
  </div>
  <div class="form-group">
    <label for="last-name">Имя</label>
    <input type="text" class="form-control" id="name-input" name="name" >
  </div>
  <div class="form-group">
    <label for="data-of-birth">Дата рождения</label>
    <input type="text" class="form-control" id="data-of-birth-input" name="data-of-birth" >
  </div>
  
 
  <button type="submit" class="btn btn-success mt-2">Добавить</button>
</form>
{% endblock %}