{% extends "base.html" %}

{% block content %}
<form method="POST" style="margin-top: 7.5rem;">
  <h2>Добавление события</h2>
  <div class="form-group">
    <label for="exampleInputEmail1">Название</label>
    <input type="text" class="form-control" id="name-input" name="name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Описание</label>
    <input type="text" class="form-control" id="description-input" name="description" >
  </div>
  <button type="submit" class="btn btn-success mt-2">Добавить</button>
</form>
{% endblock %}